:root { /* default/root is dark mode */
    --primary-color: #6f6f6f;
    --secondary-color: #000000;
    --font-color: #ffffff;
    --bg-color: #000000;
    --heading-color: #818cab;
    --button-color: #0F0F0F;
}

[data-theme="violet"] {
    --primary-color: #887c9e; /* hightlights */
    --secondary-color: #040404; 
    --font-color: #040404; /* font color */
    --bg-color: #5b5070; /* background color */ 
    --heading-color: #887c9e; /* */
    --button-color: #312845; /* button background */
}

[data-theme="light"] {
    --primary-color: #82a5ff;
    --secondary-color: #000;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
    --summary-color: #373fff25;
    --details-color: #373fff11;
    --button-color: #e1e1e1;
}

.headline {
  font-size:1.4em;
  padding-bottom: 0.5em;
}
/*Simple css to style the theme switcher like a toggle*/
.theme-switch-wrapper {
  padding-top: 0.5em;
  display: flex;
  justify-content: space-between;
  line-height: 1em;
  margin-left: 10px;
  font-size: large !important;
}

.theme-switch {
  display: inline-block;
  height: 20px;
  width: 40px;
  position: fixed;
  right: 10px;
  top: 1%;
  z-index: 998;
  background-color: var(--primary-color) !important;
  border-radius: 10px;
}

.theme-switch input {
  display:none;
}


.slider {
  z-index: 999;

  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 13px;
  left: 3px;
  position: absolute;
  transition: .4s;
  width: 13px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(23px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.userslice {
  color: var(--font-color);
  position: fixed;
  text-align: right;
  top: 1%;
  left: 1%;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.modArea::-webkit-scrollbar {
  display: none;
}

.modArea {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
  z-index: 666;
  position: absolute;
  width: 100%;
  height: 82%;
  background-color: var(--bg-color);
  font-size: 1.2em;
  overflow-x: hidden;
  overflow-y: scroll;
}

.error {
  color: #db291d;
}

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--font-color);
  overflow: auto;
  
   -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: var(--bg-color);
  z-index: 1000
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: var(--font-color);
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
  display: grid;
  grid-template-rows: 1fr 9fr 2fr;
  grid-template-columns: 1fr 1fr;
}

.speakerArea {
  font-size: 2em;
  grid-column: 1;
  place-self: center;
  text-align: center;
  height: 90%;
  width: 90%;
}

.replyArea {
  font-size: 2em;
  grid-column: 2;
  place-self: center;
  text-align: center;
  height: 90%;
  width: 90%;
}

.handsArea {
  grid-row: 2/3;
  grid-column: 1/3;
  margin: 20px;
  font-size: 1.6em;
}

.buttonArea {
  grid-column: 1/3;
  grid-row: 3;
  display: grid;
  align-items: stretch;
  margin: 20px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.button {
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--font-color);
  font-weight: bold;
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  padding: 20px !important;
}

.active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.raiseHand {
  grid-column: 1;
}

.directHand {
  grid-column: 2;
}


.nextButton {
  grid-column: 1;
  grid-row: 2;
}

.logButton {
  z-index: 999;
  grid-column: 2;
  grid-row: 2;
}

.removeOption {
  z-index: 999;
  grid-column: 2;
  grid-row: 1;
}

.clearOption {
  z-index: 999;
  grid-column: 1;
  grid-row: 2;
}

.eventLog {
  height: 80%;
}

.confirmName{
  margin: 30px;
  width: 30%;
  height: 80%;
}


.ownHand {
  font-weight: bold;
  font-size: 1.2em;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-right: 20px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 4px;
}

/* Font */

.messages {
  font-size: 100%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
  grid-row: 4;
  grid-column: 1/3;
  height: 800px;
}

.messages {
  height: 80%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}

.howTo:hover {
  text-decoration: underline;
  cursor:help;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: auto; /* Full height */
  overflow-y: scroll;
  max-height: 99%;
}

.modal-content {
/*   overflow-y:scroll; */
  text-align: left;
  margin: auto;
  padding: 9%;
  border: 1px solid #888;
  font-size: 1.2em;
  width: 80%; 
  height: 80%;
  background-color: var(--button-color);
}

/* The Close Button
.close {
  color: #ff9191;
  float: center;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ffaaaa;
  text-decoration: none;
  cursor: pointer;
}
*/