/* Fix user-agent */
.modArea {
  z-index: 666;
  position: absolute;
  overflow:scroll;
  width: 100%;
  height: 100%;
  background-color: #2c2536;
  font-size: 1.8em;
  overflow: hidden;
}

.error {
  color: #db291d;
}

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  font-size: 1.4em;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #170f19 !important;
  color: #ffdddd !important;
  overflow: hidden;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
  display: grid;
  grid-template-rows: 1fr 7fr 2fr;
  grid-template-columns: 1fr 1fr;
}

.speakerArea {
  font-size: 2em;
  grid-column: 1;
  place-self: center;
  text-align: center;
  height: 90%;
  width: 90%;
}

.replyArea {
  font-size: 2em;
  grid-column: 2;
  place-self: center;
  text-align: center;
  height: 90%;
  width: 90%;
}

.handsArea {
  grid-row: 2/3;
  grid-column: 1/3;
  margin: 20px;
  font-size: 1.6em;
}

.buttonArea {
  grid-column: 1/3;
  grid-row: 3;
  display: grid;
  align-items: stretch;
  margin: 20px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.button {
  background-color: #2f2d33;
  color: #ffdddd;
  font-weight: bold;
  font-size: 1.5em;
  width: 100%;
  height: 100%;
}

.active {
  background-color: yellow;
  color: black;
}

.raiseHand {
  grid-column: 1;
}

.directHand {
  grid-column: 2;
}


.nextButton {
  grid-column: 1;
  grid-row: 2;
}

.logButton {
  z-index: 999;
  grid-column: 2;
  grid-row: 2;
}

.removeOption {
  z-index: 999;
  grid-column: 2;
  grid-row: 1;
}

.clearOption {
  z-index: 999;
  grid-column: 1;
  grid-row: 2;
}

.eventLog {
  height: 80%;
}

.confirmName{
  margin: 30px;
  width: 30%;
  height: 80%;
}


.ownHand {
  font-weight: bold;
  font-size: 1.2em;
  background-color: yellow;
  color: black;
  margin-right: 20px;
}

/* Font */

.messages {
  font-size: 100%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
  grid-row: 4;
  grid-column: 1/3;
  height: 800px;
}

.messages {
  height: 80%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}